/* ==UserStyle==
@name            Chub Venus responsive
@version         1.0.1
@description     Chub Venus website is more suitable for wide screens.
@author          BreatFR (https://breat.fr)
@namespace       https://gitlab.com/breatfr
@homepageURL     https://gitlab.com/breatfr/chub-venus
@updateURL       https://gitlab.com/breatfr/chub-venus/-/raw/main/css/chub-venus-responsive.user.css
@supportURL      https://discord.gg/Q8KSHzdBxs
@license         AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
@preprocessor    stylus

@var    checkbox    unblurpictures  "Unblur pictures"   1
@var    checkbox    widemode        "Wide mode"         1
==/UserStyle== */

/* === Credits ===
Website          https://breat.fr
facebook         https://www.facebook.com/breatfroff
mastodon         https://mastodon.social/@breat_fr
telegram         https://t.me/breatfr
vk               https://vk.com/breatfroff
X (twitter)      https://x.com/breatfroff
=== Credits === */

@-moz-document domain("venus.chub.ai") {
    if unblurpictures {
        .nsfw-pixels-xs,
        .nsfw-pixels-sm,
        .nsfw-pixels-md,
        .nsfw-pixels-lg {
            -webkit-filter: blur(0px);
            image-rendering: smooth;
            padding: 0;
        }
    }
    
    if widemode {
        .ant-col-lg-5 {
            max-width: .5em;
        }
        .ant-col-lg-14 {
            width: 100% !important;
        }

        .ant-card-meta-title {
            white-space: wrap !important;
        }
        textarea::placeholder {
            color: #cbcbcb !important;
        }
    }
}
